body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f3f3f3 !important;
}

.form{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
}

  .form{
      display: flex;
      justify-content: space-between;
  }

  .header{
    padding-left: 20px;
    padding-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .cartao{
      width: 500px;
      justify-content: space-between;
      margin-right: 40px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      height: 130px;
      background-color: #fff;
      border-top: 4px solid #707070;
      user-select: none;
      cursor: pointer;
}

    .cardImage{
        width: 40%;
        height: 130px;
        align-items: center;
        display: flex;
        float: left;
        justify-content: center;
    }

    .cardImage i{
        font-size: 60px;
    }

    .cardContent{
        padding: 10px;
        justify-content: center;
        display: grid;
        float: right;
        width: 60%;
        height: 130px;

    }
    .cardText{
        font-size: 12px;
        height: 50%;
        text-overflow:none;
    }

    .cardTipo{
        font-weight: bold;
    }

    .selecionadoBorda{
        border-color: green;
    }
    
    .selecionado{
        color:green;
    }

    .cartao.plus{
        transform: scale(1.05);
        transform-origin: 50% 50%;
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        border-top: 4px solid #707070;
        background-color: white;
        top: -4px;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
}

.cartao.plus.selecionadoBorda{
    border-color: green;
}



