body{
    background-color: #f3f3f3 !important;
    font-family: 'Courier New', Courier, monospace;
}

.containerListaAlertas{
    width:100%;
    display:flex;
    flex-direction:column;
  }
  
  .listaDeAlerta{
    display:flex;
    flex-direction:column;
    gap:10px;
  }
  
  .alerta{
    display:flex;
    border:1px solid #E5E5E5;
    justify-content: space-between;
    padding:10px;
    background-color:white;
    flex-direction: column;
    user-select: none;
  }

  .form{
      display: flex;
      justify-content: space-between;
  }

  .botoes{
    justify-content: space-between;
    display: flex;
    align-items: center;
    border: 1px solid #e5e6e7;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

  .header{
    margin-left: 30px;
    margin-right: 30px;
      padding:10px;
    display: flex;
    justify-content: space-between;
  }

  .header span{
    width: 100%;
    text-align: center;
  }

  .alerta span{
    width: 100%;
    text-align: center;
  }

  .alertaDados{
    padding:5px 0px 5px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .alertaDetalhes{
      border-top: 1px solid #e5e5e5;
      padding: 5px;
      }

  .mais{
    cursor: pointer;
  }

  .botaoZeeng {
    background-color: #1ab394;
    color: #FFFFFF;
    width: 100%;
    border-radius: 3px;
    border: 3px solid #1ab394;;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.busca{
  justify-content: space-between;
  display: flex;
  padding:10px;
  align-items: center;
}

.botaoTipo{
  background-color: #FFFFFF;
  color: #1ab394;
  padding: 8px;
  border: 0px;
}

.botaoTipo:hover{
  background-color: #1ab394;
  color: #FFFFFF;
}

.botaoTipo:focus{
  background-color: #1ab394;
  color: #FFFFFF;
  padding: 8px;
  border: 1px solid #e5e6e7;
}

.botaoBranco{
  border: 3px solid #707070;
  background-color: #FFFFFF;
  color: #707070;
  padding: 8px;
  font-size: bold;
  border: 0px;
  border-radius: 3px;
  font-size: bold;
}

input{
  width:380px;
  border:1px solid #e5e5e5;
  font-size: 16px;
  font-family: monospace;
  padding-right: 10px;
}
input:focus{
  border:1px solid #1ab394;
}
